<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merilonstudio.videosjoueurdugrenier">

    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.JDGActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:theme="@style/AppTheme"
                android:value="com.joueurdugrenier.JDGActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:theme="@style/AppTheme" />
        </activity>
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.BazarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bazar"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Bazar.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:theme="@style/AppTheme"
                android:value="com.joueurdugrenier.BazarActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:theme="@style/AppTheme" />
        </activity>
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.NewsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/news"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden" />
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.youtube.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:theme="@style/AppTheme.Youtube"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden" />
        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.TwitterActivity"
            android:label="@string/twitter_jdg"
            android:theme="@style/AppTheme.Twitter.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden">
            <data
                android:host="t4jsample"
                android:scheme="oauth" />
        </activity>

        <receiver
            android:name="com.merilonstudio.videosjoueurdugrenier.services.JDGAlarmReceiver"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.merilonstudio.videosjoueurdugrenier.services.JDGService"
            android:exported="false" />

        <activity
            android:name="com.merilonstudio.videosjoueurdugrenier.activities.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/SettingsTheme" />

        <receiver
            android:name="com.merilonstudio.videosjoueurdugrenier.widgets.JDGWidgetProvider"
            android:label="@string/pref_jdg">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jdg_widget" />
        </receiver>

        <receiver
            android:name="com.merilonstudio.videosjoueurdugrenier.widgets.BazarWidgetProvider"
            android:label="@string/pref_bazar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bazar_widget" />
        </receiver>

    </application>

</manifest>